<%= fields_for :profile, profile do |f| %>
  <p>
    <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.text_field :req_width %>
  </p>
  <p>
    <%= f.text_field :req_height %>
  </p>
  <p>
    <a class="upload-btn" href="#">Upload</a>
  </p>
<% end %>
