<h3>Profiles</h3>

<table>
  <thead>
    <th>Name</th>
    <th>Avatar</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <% if @profiles.blank? %>
      <tr>
        <td colspan="3"><em>No profiles</em></td>
      </tr>
    <% end %>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.name, profile_path(profile) %></td>
        <td><%= image_tag profile.avatar(:thumb) %></td>
        <td>
          <%= link_to "x", profile_path(profile), :method => :delete, :class => "delete", :title => "Delete this Profile", :confirm => "Delete this profile?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <b><%= link_to "Create New Profile", new_profile_path %></b>
</p>
