<!DOCTYPE html>
<html>
<head>
  <title>Ajax File upload and cropping demo application</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>AJAX Photo Upload and Crop demo</h1>
    <hr />
  </header>

  <%= yield %>

</body>
</html>
